* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320;
}

body {
  line-height: 1;
  font-family: "Lato",sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato",sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 15px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}

.lock {
  overflow: hidden;
}

.main__burger {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  display: block;
  width: 14px;
  height: 20px;
  position: relative;
  z-index: 3;
}

.main__burger:focus {
  outline: none;
}

.main__burger::-moz-focus-outer {
  border: 0;
  padding: 0;
}

.main__burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.main__burger span {
  background-color: #fff;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  top: 13px;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.main__burger:before,
.main__burger:after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.main__burger:before {
  top: 8px;
}

.main__burger:after {
  bottom: 0;
}

.main__burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.main__burger.active:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.main__burger.active:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.main-navigation {
  z-index: 2;
  position: fixed;
  max-width: 100%;
  top: 0;
  right: -100%;
  width: 50%;
  height: 100%;
  overflow: auto;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  background-color: #000;
  opacity: .9;
  padding: 70px 10px 20px 10px;
}

.main-navigation.active {
  right: 0;
}

.main-navigation__list {
  display: block;
  text-align: center;
}

.menu-item {
  padding: 0 0 10px 0;
}

.main-navigation__list a {
  font-weight: 800;
  font-size: 20px;
  color: #fff;
}

.menu-item {
  font-size: 24px;
}

.hero {
  margin: 0px 0px 120px 0px;
}

.hero__bg {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 442px;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero_subtitle {
  font-weight: 700;
  font-size: 55px;
  color: #fff;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
  letter-spacing: 5px;
}

.hero__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  font-family: "Times New Roman",serif;
  font-weight: 600;
  font-style: italic;
  font-size: 18px;
  color: #ece6e0;
  letter-spacing: 2px;
  margin: 0px 0px 10px 0px;
}

.hero__btn {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border: 3px solid #fff;
  padding: 13px 30px;
  margin: 0px 0px 40px 0px;
}

.hero__text {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

.main-nav-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px 80px 0px;
}

.main-nav-block__links {
  margin: 3px 12px 0px 0px;
}

.testimonials__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  margin: 0px 0px 30px 0px;
}

.testimonials__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #000;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin: 0px 0px 18px 0px;
}

.testimonials__img img {
  width: 60px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}

.testimonials__title {
  position: relative;
  margin: 0px 0px 25px 0px;
  font-size: 18px;
  font-weight: 700;
}

.testimonials__title:after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 26px;
  width: 70%;
  height: 1px;
  background-color: #f57365;
}

.testimonials__text {
  text-align: center;
  max-width: 360px;
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 1px;
}

@media (min-width: 767px) {
  .hero {
    margin: 0px 0px 344px 0px;
  }

  .hero__bg {
    height: 880px;
  }

  .main-nav-block {
    margin: 21px 0 269px 0;
  }

  .testimonials__flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0px -25px;
  }

  .testimonials__block {
    padding: 0px 25px;
    margin: 0px 0px 60px 0px;
  }

  .testimonials__img {
    margin: 0px 0px 20px 0px;
  }

  .testimonials__title {
    margin: 0px 0px 21px 0px;
  }
}

@media (min-width: 1023px) {
  .container {
    max-width: 925px;
    padding: 0 20px;
  }
}

@media (min-width: 1439px) {
  .container {
    max-width: 1245px;
    padding: 0 20px;
  }

  .hero_subtitle {
    font-size: 100px;
    margin: 0px 0px 30px 0px;
  }

  .hero__title {
    font-size: 36px;
    margin: 0 0 5px 21px;
  }

  .hero__btn {
    padding: 22px 80px;
    font-size: 18px;
  }

  .hero__text {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .main-nav-block__logo {
    margin: 0 0 0 12px;
  }
}