//<МИКСИНЫ>===============================================================================================
@import "mixins";

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Lato",
sans-serif;

//<ПЕРЕМЕННЫЕ>===========================================================================================================

$minWidth: 320;
$maxWidth: 1600;
$maxWidthContainer: 1184;
// $md1: $maxWidthContainer+12;
// $md2: 991.98;
// $md3: 767.98;
// $md4: 479.98;

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";


body {
    color: #000;
    font-size: 15px;
}



//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
    min-width: $minWidth + px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;

    @media (min-width: 1023px) {
        max-width: 925px;
        padding: 0 20px;
    }

    @media (min-width: 1439px) {
        max-width: 1245px;
        padding: 0 20px;
    }
}


//<ОСНОВНОЙ БЛОК>====================================================================================================

// Burger menu====================================================
.lock {
    overflow: hidden;
}

.main__burger {
    @include btn-reset;
    display: block;
    width: 14px;
    height: 20px;
    position: relative;
    z-index: 3;
}

.main__burger span {
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 13px;
    transition: all 0.3s ease 0s;
}

.main__burger:before,
.main__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
}

.main__burger:before {
    top: 8px;
}

.main__burger:after {
    bottom: 0;
}

.main__burger.active span {
    transform: scale(0);
}

.main__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
}

.main__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
}

.main-navigation {
    z-index: 2;
    position: fixed;
    max-width: 100%;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
    background-color: #000;
    opacity: 1;
    padding: 70px 10px 20px 10px;
}

.main-navigation.active {
    right: 0;
}

.main-navigation__list {
    display: block;
    text-align: center;
    position: relative;
    top: 25%;
}

// Section hero ===========================================================
.hero {
    margin: 0px 0px 120px 0px;
    position: relative;

    @media (min-width: 767px) {
        margin: 0px 0px 344px 0px;
    }

    // .hero__bg
    &__bg {
        position: absolute;
        z-index: -10;
        width: 100%;
        height: 442px;
        object-fit: cover;
        background-color: #000;

        @media (min-width: 767px) {
            height: 880px;
        }
    }

    // .hero__subtitle
    &_subtitle {
        font-weight: 700;
        font-size: 55px;
        color: #fff;
        text-transform: uppercase;
        margin: 0px 0px 20px 0px;
        letter-spacing: 5px;
        text-align: center;

        @media (min-width: 1439px) {
            font-size: 100px;
            margin: 0px 0px 30px 0px;
        }

    }

    // .hero__block
    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .hero__title
    &__title {
        font-family: "Times New Roman", serif;
        font-weight: 600;
        font-style: italic;
        font-size: 18px;
        color: #ece6e0;
        letter-spacing: 2px;
        margin: 0px 0px 10px 0px;
        text-align: center;

        @media (min-width: 1439px) {
            font-size: 36px;
            margin: 0 0 5px 21px
        }
    }

    // .hero__btn
    &__btn {
        background-color: transparent;
        cursor: pointer;
        outline: none;
        color: #fff;
        text-transform: uppercase;
        border: 3px solid #fff;
        padding: 13px 30px;
        margin: 0px 0px 36px 0px;
        text-align: center;

        @media (min-width: 1439px) {
            padding: 22px 80px;
            font-size: 18px;
        }
    }

    // .hero__text
    &__text {
        text-align: center;
        color: #fff;
        font-size: 13px;

        @media (min-width: 1439px) {
            letter-spacing: 1px;
            font-weight: 700;
        }
    }
}

.main-nav-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -20px 0px 80px 0px;

    @media (min-width: 767px) {
        margin: -20px 0 232px 0;
    }

    // .main-nav-block__logo
    &__logo {
        width: 147px;
        height: 136px;
        object-fit: cover;
        position: relative;
        right: 40px;
        @media (min-width: 767px) {
            right: 20px;
        }
        @media (min-width: 1439px) {
            margin: 0 0 0 -8px;
        }
    }

    // .main-nav-block__flex
    &__flex {
        display: flex;
        align-items: flex-end;
        margin: 3px 0px 0px 0px;
    }

    // .main-nav-block__links
    &__links {
        margin: 0px 12px 0px 0px;
    }

}

body.lock {
    overflow: hidden;
}

.popup {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.7s ease 0s;
    z-index: 100;
    pointer-events: none;
}

.popup.open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.popup.open .popup__content {
    transform: translate(0px, 0%);
    opacity: 1;
}

.popup__area {
    @include btn-reset();
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    transition: all 0.7s ease 0s;
}

.popup__content {
    background-color: #fff;
    color: #000;
    max-width: 800px;
    padding: 30px;
    position: relative;
    transition: all 0.7s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
}


.popup__close {
    @include btn-reset();
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.main-nav-block {

    // .main-nav-block__popup
    &__popup {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        display: none;

        @media (min-width: 767px) {
            display: block;
        }

        &::-moz-focus-outer {
            border: 0;
            padding: 0;
        }

        &::-moz-focus-inner {
            border: 0;
            padding: 0;
        }
    }

    // .main-nav-block__signup
    // .main-nav-block__login
    &__login,
    &__signup {
        padding: 0;
        border: none;
        font: inherit;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        margin: 0px 30px 0px 0px;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 400;

        &::-moz-focus-outer {
            border: 0;
            padding: 0;
        }

        &::-moz-focus-inner {
            border: 0;
            padding: 0;
        }
    }
}

.popup-btn {}

.popup-login {

    // .popup-login__body
    &__body {}
}

.popup {

    // .popup__area
    &__area {}

    // .popup__close
    &__close {}

    // .popup__body
    &__body {}

    // .popup__content
    &__content {
        background: rgb(150, 116, 92);
        background: linear-gradient(0deg, #a7876f 0%, #381c4c 100%);
    }
}

.open {}

.popup-signup {

    // .popup-signup__body
    &__body {}
}

.menu-item_popup{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    &::-moz-focus-outer{
        border: 0;
        padding: 0;
    }
    &::-moz-focus-inner{
        border: 0;
        padding: 0;
    }
    font-weight: 800;
    font-size: 35px;
    color: #fff;
    margin: 0px 0px 25px 0px;
}

.popup-content {

    // .popup-content__logo
    &__logo {
        display: block;
        margin: 0 auto 30px auto;
    }

    // .popup-content__title
    &__title {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        color: #fff;
        margin: 0px 0px 20px 0px;

        @media (min-width: 767px) {
            font-size: 40px;
        }
    }

    // .popup-content__form-group
    &__form-group {
        position: relative;
        margin: 20px 0px 23px 0px;

        @media (min-width: 767px) {
            margin: 40px 0 50px 0;
        }
    }

    // .popup-content__label
    &__label {
        white-space: nowrap;
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 5px;
        color: #A8A2A2;
        font-weight: 400;
        font-size: 13px;
        transition: all 0.3s ease 0s;

        @media (min-width: 76px) {
            bottom: 10px;
            font-size: 20px;
        }
    }

    // .popup-content__input
    &__input {
        width: 100%;
        padding: 0px 0px 4px 0px;
        border: none;
        border-bottom: 2px solid #fff;
        background-color: transparent;
        outline: none;
        transition: all 0.3s ease 0s;
        color: #fff;

        @media (min-width: 767px) {
            width: 500px;
            padding: 0 0 10px 0;
            font-size: 22px;
        }

        &:focus~.popup-content__label,
        &:not(:placeholder-shown)~.popup-content__label {
            font-size: 10px;
            top: -15px;
            color: #a499a3;

            @media (min-width: 767px) {
                font-size: 17px;
            }
        }
    }

    // .popup-content__btn
    &__btn {
        border: none;
        font: inherit;
        cursor: pointer;
        text-transform: uppercase;
        display: block;
        margin: 0 auto 20px auto;
        font-size: 17px;
        background: #751045;
        color: #fff;
        padding: 10px 30px;
        border-radius: 3px;
        outline: 1px solid #673353;

        @media (min-width: 767px) {
            margin: 0 auto 30px auto;
        }

        &::-moz-focus-outer {
            border: 0;
            padding: 0;
        }

        &::-moz-focus-inner {
            border: 0;
            padding: 0;
        }
    }

    // .popup-content__description
    &__description {
        text-transform: uppercase;
        color: #fff;
        font-size: 14px;
        text-align: center;

        @media (min-width: 767px) {
            letter-spacing: 1px;
        }

        a {
            color: #fff;
            cursor: pointer;
            font-size: 14px;
            text-transform: uppercase;
            padding: 0px 0px 0px 3px;
            text-decoration: underline;
            font-weight: 400;

            @media (min-width: 767px) {
                letter-spacing: 1px;
            }

            &::-moz-focus-outer {
                border: 0;
                padding: 0;
            }

            &::-moz-focus-inner {
                border: 0;
                padding: 0;
            }
        }
    }
}

.sr-only {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}






// Section testimonials ====================================================

.testimonials {
    margin: 0px 0px 25px 0px;

    @media (min-width: 1600px) {
        margin: 0px 0px 120px 0px;
    }

    // .testimonials__flex
    &__flex {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        

        @media (min-width: 767px) {
            margin: 50px -25px 0 -25px;
        }

        @media (min-width: 1023px) {
            flex-direction: row;
            align-items: flex-start;
        }

        @media (min-width: 1439px) {
            margin: 0;
        }
    }

    // .testimonials__block
    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 33.333%;
        margin: 0px 0px 30px 0px;

        @media (min-width: 767px) {
            padding: 0px 25px;
            margin: 0px 0px 60px 0px;
        }
    }

    // .testimonials__img
    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #000;
        border-radius: 100%;
        width: 100px;
        height: 100px;
        margin: 0px 0px 18px 0px;

        @media (min-width: 767px) {
            margin: 0px 0px 20px 0px;
        }

        img {
            width: 60px;
            height: 60px;
            object-fit: contain;
        }
    }

    // .testimonials__title
    &__title {
        position: relative;
        margin: 0px 0px 25px 0px;
        font-size: 18px;
        font-weight: 700;
        text-align: center;

        @media (min-width: 767px) {
            margin: 0px 0px 21px 0px;
        }

        &:after {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 26px;
            width: 70%;
            height: 1px;
            background-color: #f57365;
        }
    }

    // .testimonials__text
    &__text {
        text-align: center;
        max-width: 360px;
        font-weight: 300;
        font-size: 16px;
        line-height: 27px;
        letter-spacing: 1px;
    }
}

// Section app ============================================================

.app {
    margin: 0px 0px 20px 0px;

    @media (min-width: 767px) {
        padding: 0 30px;
        margin: 0px 0px 0px 0px;

    }

    @media (min-width: 1023px) {
        padding: 0px;
    }

    // .app__block
    &__block {
        display: flex;
        flex-direction: column;

        @media (min-width: 767px) {
            flex-direction: row;
        }
    }

    // .app__phone
    &__phone {
        display: none;

        @media (min-width: 767px) {
            display: block;
            flex: 1 1 50%;
            order: 1;
        }
    }

    // .app__phone-pic
    &__phone-pic {
        width: 100%;
        height: 424px;
        object-fit: contain;

        @media (min-width: 767px) {
            height: 497px;
            width: 379px;
            padding: 0px 30px 0px 0px;
            object-fit: cover;
        }

        @media (min-width: 1023px) {
            padding: 0px 50px 0px 0px;
            width: 400px;
        }

        @media (min-width: 1439px) {
            height: 777px;
            width: 630px;
            padding: 0px 66px 0px 14px;
            margin: 16px 0px 0px -27px;
        }
    }

    // .app__intro
    &__intro {
        display: flex;
        flex-direction: column;
        letter-spacing: 1px;
        justify-content: center;

        @media (min-width: 767px) {
            order: 2;
            flex: 1 1 50%;
            margin: -10px 0px 0px 0px;
        }

        @media (min-width: 1023px) {
            justify-content: flex-start;
        }

        @media (min-width: 1439px) {
            padding: 90px 0 0 49px;
        }
    }



    // .app__title
    &__title {
        font-weight: 700;
        font-size: 15px;
        text-align: center;
        margin: 25px 0px 10px 0px;
        position: relative;

        @media (min-width: 767px) {
            text-align: left;
        }

        @media (min-width: 1023px) {
            font-size: 18px;
            margin: 10px 0px 10px 0px;
        }
    }

    // .app__border
    &__border {
        position: relative;
        margin: 0px 0px 10px 0px;
        @media (min-width: 767px) {
            margin: 0px 0px 12px 0px;
        }
        &:after {
            content: "";
            position: absolute;
            left: 50%;
            top: 0;
            width: 90px;
            height: 1px;
            background-color: #f57365;
            transform: translateX(-50%);

            @media (min-width: 767px) {
                left: 45px;
            }
        }
    }

    // .app__text
    &__text {
        text-align: justify;
        margin: 0px 0px 27px 0px;
        font-size: 13px;
        font-weight: 300;
        line-height: 22px;

        @media (min-width: 767px) {
            text-align: left;
            margin: 0px 0px 15px 0px;
        }

        @media (min-width: 1023px) {
            font-size: 16px;
            line-height: 25px;
        }

        @media (min-width: 1439px) {
            margin: 0px 0px 30px 0px;
        }
    }

    // .app__icons
    &__icons {
        margin: 0px 0px 0px -5px;
    }
}

.text {

    // .text__p1
    &__p1 {
        margin: 0px 0px 5px 0px;

        @media (min-width: 1439px) {
            margin: 0px 0px 29px 0px;
        }
    }

    // .text__p2
    &__p2 {
        margin: 0px 0px 5px 0px;
    }

    // .text__p3
    &__p3 {}
}

.icons {
    display: flex;
    justify-content: flex-start;

    // .icons__applemarket
    &__applemarket {
        padding: 0px 12px 0px 0px;
        img{
            width: 122px;
            height: 39px;
            object-fit: contain;
        }
    }

    // .icons__playmarket
    &__playmarket {
        margin: 0px 0px 0px -7px;
        img{
            width: 120px;
            height: 39px;
            object-fit: contain;
    }
        }
        
}

// Section feedback ====================================================

.feedback {
    background:#000 url('../img/feedback-bg.png') center no-repeat;
    background-size: cover;
    margin: 0px 0px 40px 0px;

    @media (min-width: 767px) {
        margin: 0px 0px 60px 0px;
    }

    @media (min-width: 1023px) {
        margin: 0px 0px 100px 0px;
    }

    // .feedback__block
    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .feedback__img-block
    &__img-block {
        width: 100px;
        height: 100px;
        box-shadow: 0px 0px 0px 5px #958b94;
        border-radius: 50%;
        overflow: hidden;
        margin: 30px 0px 35px 0px;

        @media (min-width: 1023px) {
            margin: 85px 0px 35px 0px;
        }

        @media (min-width: 1599px) {
            margin: 85px 0px 38px 2px;
        }

        img {
            position: relative;
            left: -26px;
            top: -9px;
        }
    }

    // .feedback__text
    &__text {
        text-align: center;
        margin: 0px 0px 18px 0px;
        padding: 0px 20px;
        font-size: 17px;
        font-weight: 300;
        color: #b2adb2;
        line-height: 25px;

        @media (min-width: 1023px) {
            font-size: 30px;
            line-height: 44px;
        }
    }

    // .feedback__description
    &__description {
        margin: 0px 20px 34px 20px;
        font-size: 14px;
        font-weight: 600;
        font-style: italic;
        color: #b2adb2;

        @media (min-width: 1023px) {
            font-size: 18px;
        }
        @media (min-width: 1600px) {
            margin: 0px 20px 34px 20px;
        }
    }
}

// Slider ---------------------------------------------
.swiper {
    width: inherit;
    min-height: 320px;

    @media (min-width: 1023px) {
        min-height: 460px;
    }

}

.swiper-pagination{
    position: static;
    margin: 0px 0px 18px 0px;
}
.swiper-pagination-bullet {
    background: #7a6d79;
    width: 10px;
    height: 10px;
}

.swiper-pagination-bullet-active {
    background: #fff;
    width: 10px;
    height: 10px;
}

.swiper-horizontal>.swiper-pagination-bullets {
    bottom: 18px;

    @media (min-width: 767px) {
        bottom: 30px;
    }

    @media (min-width: 1599px) {
        bottom: 77px;
    }

}

// Section cuisines ==========================================

.cuisines {
    margin: 0px 0px 30px 0px;

    @media (min-width: 767px) {
        margin: 0px 0px 60px 0px;
    }
    // cuisines__dynamic
    &__dynamic {
        margin: 0px auto 55px auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1600px;
    }

    // .cuisines__block
    &__block {
        position: relative;
        flex-basis: 50%;
        background-color: #000;

        @media (min-width: 480px) {
            flex-basis: 33.333%;
        }

        @media (min-width: 640px) {
            flex-basis: 25%;
        }

        @media (min-width: 800px) {
            flex-basis: 20%;
        }
    }

    // .cuisines__img
    &__img {
        object-fit: cover;
        width: 100%;
        height: 169px;
        @media (min-width: 480px) {
            height: 140px;
        }
        @media (min-width: 1023px) {
            height: 180px;
        }
        @media (min-width: 1439px) {
            height: 225px;
        }
    }

    // .cuisines__recipes
    &__recipes {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 14px;
        font-weight: 700;
        font-style: italic;
        color: #fff;
        text-transform: capitalize;
        font-family: "Times New Roman", serif;
        margin: -20px 0px 0px 0px;
        @media (min-width: 1439px) {
            
        }
    }

    // .cuisines__name
    &__name {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;

        @media (min-width: 1023px) {
            font-size: 25px;
            margin: -35px 0px 0px 0px;
        }
        
        @media (min-width: 1439px) {
            font-size: 40px;
            
        }
    }

    // .cuisines__title
    &__title {
        position: relative;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        margin: -2px 0px 20px 0px;

        @media (min-width: 767px) {
            margin: -2px 0px 49px 0px;
        }
    }

    // .cuisinesy__border
    &__border {
        position: relative;
        margin: 0px 0px 10px 0px;
        @media (min-width: 767px) {
            margin: 0px 0px 23px 0px;
        }
        &:after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 14px;
            width: 88px;
            height: 1px;
            background-color: #f57365;
            transform: translateX(-50%);

            @media (min-width: 767px) {
                bottom: 41px;
            }
        }
    }
}


.counter-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    // .counter-block__sub
    &__sub {
        flex: 1 1 50%;
        text-align: center;
        margin: 0px 0px 25px 0px;

        @media (min-width: 767px) {
            flex: 1 1 33.333%;
        }

        @media (min-width: 1023px) {
            flex: 1 1 20%;
        }

        span {
            color: #9e9e9e;
        }
    }

    // .counter-block__item
    &__item {
        font-size: 30px;
        font-weight: 700;
        margin: 0px 0px 10px 0px;

        @media (min-width: 767px) {
            font-size: 36px;
            margin: 0px 0px 10px 0px;
        }
    }
}


// Footer =============================================================

.footer {
    background-color: #f7f7f7;
    border-top: 1px solid #b5b5b5;
    margin: -25px 0px 0px 0px;

    // .footer__flex
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .footer__rights
    &__rights {
        text-transform: capitalize;
        color: #d3d3d3;
        font-weight: 300;
        font-size: 12px;
        padding: 25px 0;

        @media (min-width: 767px) {
            padding: 40px 0;
            font-size: 14px;
        }
    }

    // .footer__design-by
    &__design-by {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 12px;
        color: #d3d3d3;
        padding: 25px 0;
        text-align: right;

        @media (min-width: 767px) {
            padding: 40px 0;
            font-size: 14px;
        }

        span {
            font-weight: 400;
            font-size: 12px;
            color: #000;

            @media (min-width: 767px) {
                font-size: 14px;
            }
        }
    }
}